{% extends "base.html" %}

{% block title %}
Dashboard - LeadFlow CRM
{% endblock %}

{% block content %}

<h2 class="fw-bold mb-4">CRM Dashboard</h2>

<div class="row g-4 mb-4">

    <div class="col-md-3">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <h6>Total Leads</h6>
                <h2>{{ stats.total_leads }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <h6>New Today</h6>
                <h2>{{ stats.new_today }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <h6>Won Deals</h6>
                <h2>{{ stats.won_deals }}</h2>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card shadow-sm border-0">
            <div class="card-body">
                <h6>Revenue</h6>
                <h2>{{ stats.revenue }}</h2>
            </div>
        </div>
    </div>

</div>

<div class="card shadow-sm border-0">
    <div class="card-header bg-white">
        <h5 class="mb-0">Recent Activity</h5>
    </div>

    <div class="list-group list-group-flush">

        {% for item in recent_activity %}
        <div class="list-group-item">
            <h6>{{ item.first_name }} {{ item.last_name }}</h6>

            <small class="text-muted">
                 {{ item.company }} • {{ item.created_at }}
            </small>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}